<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<div class="divider"></div>

<div class="titles">
  <span class="col-md-3">Full Name</span>
  <span class="col-md-3">Email</span>
  <span class="col-md-3">Age</span>
  <span class="col-md-3">Delete</span>
</div>

<br/><br/>

<div class="people_content">
  <% @people.each do |person| %>
    <span class="col-md-3"><%= link_to person.full_name, person %></span>
    <span class="col-md-3"><%= person.email %></span>
    <span class="col-md-3"><%= person.age %></span>
    <span class="col-md-3"><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</div>

<br/>

<%= link_to 'New Person', new_person_path %>
