<p id="notice"><%= notice %></p>

<h1><%= @person.full_name %></h1>
<div class="divider"></div>

<span class="col-md-3 profile-pic" style="background-image: url('<%= @person.picture %>');"></span>
<span class="col-md-9 person-content">
<p>
  <em style="color:red">First name:</em>
  <%= @person.first_name %>
</p>

<p>
  <em style="color:red">Last name:</em>
  <%= @person.last_name %>
</p>

<p>
  <em style="color:red">Email:</em>
  <%= @person.email %>
</p>

<p>
  <em style="color:red">Job:</em>
  <%= @person.job %>
</p>

<p>
  <em style="color:red">Bio:</em>
  <%= @person.bio %>
</p>

<p>
  <em style="color:red">Gender:</em>
  <%= @person.full_gender_name %>
</p>

<p>
  <em style="color:red">Birthdate:</em>
  <%= @person.birthdate %>
</p>

<p>
  <em style="color:red">Picture:</em>
  <%= @person.picture %>
</p>
</span>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %> |
<%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' } %>
