<p id="notice"><%= notice %></p>

<h1><%= @person.full_name %></h1>
<div class="divider"></div>

<span class="col-md-3 profile-pic" style="background-image: url('<%= @person.picture %>');"></span>
<span class="col-md-9 person-content">
<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Job:</strong>
  <%= @person.job %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.full_gender_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @person.picture %>
</p>
</span>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %> |
<%= link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' } %>
